<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/jaxrs
        http://cxf.apache.org/schemas/jaxrs.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       ">

    <context:property-placeholder location="classpath:dbConfig.properties"/>

    <context:component-scan base-package="com.atguigu.service"
                            use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!-- 多数据源-->
    <bean id="dataSource1" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${url1}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <bean id="dataSource2" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${url2}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 数据源路由-->
    <bean id="dataSource" class="com.atguigu.utils.MyRoutingDataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry key="1" value-ref="dataSource1"></entry>
                <entry key="2" value-ref="dataSource2"></entry>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="dataSource1"></property>
    </bean>

    <!-- 数据源事务管理器-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--通知 -->
    <tx:advice transaction-manager="txManager" id="txAdvice">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
        </tx:attributes>
    </tx:advice>
    <!--切入点表达式 -->
    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* com.atguigu.service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut" />
    </aop:config>

    <!-- mybatis-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.atguigu.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
    </bean>

    <!--安全认证的拦截器 -->
    <bean id="in" class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
        <constructor-arg>
            <map key-type="java.lang.String">
                <entry key="action" value="UsernameToken"></entry>
                <entry key="passwordType" value="PasswordText"></entry>
                <entry key="passwordCallbackRef" value-ref="myCallback"></entry>
            </map>
        </constructor-arg>
    </bean>
    <!-- 回调函数 -->
    <bean id="myCallback" class="com.atguigu.utils.MyCallback"/>

    <jaxws:endpoint address="/ws" implementorClass="com.atguigu.server.TestServer">
        <jaxws:inInterceptors>
            <ref bean="in" ></ref>
        </jaxws:inInterceptors>
        <jaxws:implementor>
            <bean class="com.atguigu.server.TestServerImpl"></bean>
        </jaxws:implementor>
    </jaxws:endpoint>

    <!--登录的服务 -->
    <jaxws:endpoint address="/login" implementorClass="com.atguigu.server.LoginServer">
        <jaxws:implementor>
            <bean class="com.atguigu.server.LoginServerImpl"></bean>
        </jaxws:implementor>
    </jaxws:endpoint>

    <!--地址的服务 -->
    <jaxws:endpoint address="/address" implementorClass="com.atguigu.server.AddressServerInf">
        <jaxws:implementor>
            <bean class="com.atguigu.server.AddressServerImp"></bean>
        </jaxws:implementor>
    </jaxws:endpoint>

    <!-- rest风格-->
    <jaxrs:server address="/loginRest">
        <jaxrs:serviceBeans>
            <bean class="com.atguigu.server.LoginServerImpl"></bean>
        </jaxrs:serviceBeans>
    </jaxrs:server>



</beans>